---
layout: page
title: Adam Sturge
permalink: /
---

<!-- Slider Start -->

<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">He's a super fighting robot</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About Me</h2>
            <p>
		My name is Adam Sturge. I write code for a living.
	    </p>
	  </div>
	  <p>
		Born and raised in Newfoundland Canada from an early age I was drawn to the "why" and "how" of things.  
                Fast-forward to 23 and I'm graduating from university with a triple major in Applied Mathematics, Physics, and Computer Science. 
	  
	  <br />
		Professionally my interests range from physical simulations to data science to distributed systems to quantum computing. There's just so much cool stuff happening in the world right now! 
	  <br />
		I built this website as a place for me to show off some of the projects I'm working on. I hope you find them as interesting as I do.
	 </p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/me2.jpg" alt="me" class="wow fadeIn">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>
<!--
<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>WE BELIEVE IN GREAT IDEAS</h2>
      <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <a href="#" class="btn btn-view-works">View Works</a>
    </div>
  </div>
</div>
</section>
-->
<!-- Education Start -->
<section id="education">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Education</h2>
        <p>An investment in knowledge pays the best interest - Benjamin Franklin</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3 col-md-offset-2">
        <img src="img/mun-logo2.png" class="wow fadeInUp"/>
      </div>
      <div class="col-sm-6 col-md-3 col-md-offset-2">
        <img src="img/UofT_Logo2.png" class="wow fadeInUp"/>
      </div> 
    </div>
  </div>
</section>
<!-- Call to action Start -->
<!--
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>We design delightful digital experiences.</h2>
          <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>
          <a class="btn btn-default btn-call-to-action" href="#" >Tell Us Your Story</a>
        </div>
      </div>
    </div>
  </div>
</section>
-->
<!-- Content Start -->
<section id="work-experience">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Work Experience</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-3">
        <div class="block">
          <ul class="wow fadeIn counter-box clearfix">
            <li>
              <div class="block">
                <img src="img/EA-logo2.png"/>
		<h4 class="counter">3</h4>
                <span>years</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            <div>
                <img src="img/cotation.png" alt="EA">
                <p>"His work brought the team alive again and helped us survive at Electronic Arts"</p>
                <div class="user">
                  <img src="img/shel2.jpg" alt="Shelton">
                  <p><span>Shelton Hu</span>Data Management Specialist - Douglas College</p>
                </div>
            </div>
            <div>
              <img src="img/cotation.png" alt="IMG">
                <p>"This Company created an e-commerce site with the tools to make our business a success, with innovative ideas we feel that our site has unique elements that make us stand out from the crowd."</p>
                <div class="user">
                  <img src="img/item-img1.jpg" alt="Pepole">
                  <p><span>Rose Ray</span> CEO-Themefisher</p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="projects">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Projects</h2>
      </div>
    </div>
  </div>
  <div class="page-wrap">
    <div class="flex-grid">
        {% for post in site.posts %}
        <article class="main-articles">
           {% if post.img %}
             <a href="{{post.github}}"><img class="post-image" src={{ "img/" | append: post.img }} alt="{{post.title}}"></a>
           {% endif %}
            <div class="post-content">
              <div class="wrap-content">
                <header class="header-article">
                  <h2><a href="{{post.github}}">{{post.title}}</a></h2>
		<div class="byline">
			<span>{{post.categories | join: ', '}}</span>
		</div>
                </header>
                <p>{{post.description}}</p>
              </div>
            </div>
        </article>
        {% endfor %}
      </div> 
    </div>
  </div>
</section>

