<!-- Header Start -->
<!--<header>-->
 
    
      <!-- header Nav Start -->
 <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
         <div class="navbar-brand page-scroll"> 
           {{site.title}}
          </div>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
     
          <!-- Scroll to section for each page in index -->
          <li class="hidden"><a class="page-scroll" href="#page-top">This should be hidden</a></li>
            {% for p in site.pages_list %}
            <li>
              <a class="page-scroll" href="#{{ p[1] }}"> {{p[0] | replace: '_',' '}} </a>
            </li>
          {% endfor %}
      </ul>
    </div>
  </div>
</nav>

<!--</header>--><!-- header close -->
